<!doctype html>

<title>{{ page.title }}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700|Open+Sans:400,400i,700" rel="stylesheet">
<link href="{{ site.baseurl }}{% link assets/simple.css %}" rel="stylesheet">

<header>
  {% if page.url != '/' %}
    <p style="font-size: 80%"><a href="{{ '/' | relative_url }}">&larr; Return to index</a></p>
    <hr>
  {% endif %}
  <h1 style="font-weight: normal">{{ page.title }}</h1>
</header>

<hr>

<main>{{ content }}</main>

<hr>

<footer style="font-size: 80%">
  <p>
    <img src="https://www.nationstates.net/images/flags/Japan.png" alt="" height=15 style="border: 1px solid; vertical-align: middle"> The Galactic Federation of Werreales, &copy; 2018
  </p>
  <p>
    <a href="https://www.nationstates.net/nation=werreales">NationStates page</a> -
    <a href="https://github.com/Werreales/factbooks">GitHub repo</a>
  </p>
</footer>