<!doctype html>

<title>{{ page.title }}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700|Open+Sans:400,400i,700" rel="stylesheet">
<link href="{{ site.baseurl }}{% link assets/simple.css %}" rel="stylesheet">

<p style="font-size: 80%">
  <img src="https://www.nationstates.net/images/flags/Japan.png" alt="" height=15 style="border: 1px solid; vertical-align: middle">
  The Galactic Federation of Werreales -
  <a href="/">Return to index</a> -
  <a href="https://www.nationstates.net/nation=werreales">NationStates page</a>

<hr>

<h1 style="font-weight: normal">{{ page.title }}</h1>

<hr>

{{ content }}

<hr>

<p style="font-size: 80%">&copy; The Galactic Federation of Werreales